/*
 Copyright 2015 SSO Project
*/

.nav {
    border-bottom: 1px solid #efefef;
    padding: 10px;
}

ul {
    margin-bottom: 0;
    list-style: none;
}

.text-block {
    padding-top: 20%;
    height: 300px;
    border: 1px solid #efefef;
    text-align: center;
    vertical-align: middle;
}

.footer {
    width: 100%;
    bottom: 0;
    position: absolute;
    text-align: center;
    border-top: 1px solid #efefef;
}

#text-block a {
    color: black;
}

#dashboard {
    margin-top: 20px;
}